@charset "UTF-8";
.content{padding:20px 10px 5px 10px;}
.content > li {padding:5px;border:1px solid #c6c6c6;}
.item li{float:left;height:24px;line-height:24px;padding:5px 0;margin:0 3px;}
.btn_area{float:left;width:100%;margin-bottom:20px;}

.chk{width:30px;text-align:center;}

.content .item_btn_area{float:right;}
.item_btn_area .boardButton{width:50px;height:20px;color:dimgrey;border:1px solid darkgray;border-radius:0.5em;font-size:9px;text-align:center;}