@charset "UTF-8";
/* 공통 */
.clearfix::after{display:block;content:"";clear:both;}
.wrap{width:1024px;margin:0 auto;}
a {text-decoration:none;color:black;}
ul{margin:0;padding:0;} /* ul의 기본 공백 제거 */
li{list-style-type:none;}

/* layout */
header{top:0;left:0;right:0;padding:0 10px;}
header .logo {float:left;}
header .gnb{float:right;font-size:12px;}
header li{float:left;padding:0 10px;}
header .search_area{width:100%;text-align:center;}
header #search{width:300px;}
header .sub_gnb{width:600px;margin:0 auto;}

section .sub_nav{float:left;width:20%;height:100%;text-align:center;margin-top:10px;}
section .sub_nav a{display:block;height:36px;line-height:36px;margin-left:10px;background-color:#f0ffff;}
section .container{float:left;width:80%;}

footer{height:100px;bottom:0;left:0;right:0;padding:0 10px;font-size:12px;}

/* test용 */
.wrap{border:1px solid black;}

