@charset "utf-8";
/* 공통 */
.wrap{width:1024px;margin:0 auto;}
.clearfix::after{display:block;content:"";clear:both;}

/* layout */
header{top:0;left:0;right:0;background-color:#c6c6c6;}
header .menu_gnb{padding:5px 10px;margin:auto 0;}
header .logo {float:left;font-weight:bold;}
header .gnb{float:right;font-size:12px;}
header li{float:left;padding:0 10px;}
header .search_area{width:100%;text-align:center;margin:20px 0;}
header #search{width:300px;}
header .sub_gnb{width:600px;margin:0 auto;padding: 5px 0 25px 0;text-align:center;}
header nav a{padding:0 10px;}

section{margin:0;}
section .slider{height:300px;}
section .container{width:100%;padding:10px 10px;}

aside{position:fixed;top:50%;right:20px;font-size:11px;background-color:#fff;}
aside .wrap{width:80px;}
aside #quick_area{height:85px;background-color:gray;}
aside input{width:80px;}

footer{bottom:0;left:0;right:0;padding-bottom:5px;font-size:12px;background-color:#c6c6c6;}
footer nav{width:100%;text-align:center;padding:10px 0;margin:0 auto;background-color:#888;} 
footer nav a{padding:0 10px;}
footer .f_left{float:left;width:490px;padding:10px;}
footer .f_right{float:right;width:490px;padding:10px;}

/* test용 */
/* .wrap{border:1px solid black;} */

/* ul 가운데 정렬 방법
	block이라서 text-align 적용 안됨 -> margin으로 자동 정렬.
	width:100% -> margin이 없으므로 사이즈를 지정하여 margin 생기게 해야 함
	텍스트 사이즈만큼만 하고싶으면 inline-block 적용*/